<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="prm3101.group_assignment">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main_schedule"
        android:label="FPT Life"
        android:roundIcon="@drawable/ic_graduation_owl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity android:name=".activity.ScheduleActivity">
        </activity>
        <activity android:name=".activity.DetailSubjectActivity">
        </activity>
        <activity android:name=".activity.AddTaskActivity">
        </activity>
        <activity android:name=".activity.DetailTaskActivity">
        </activity>
    </application>

</manifest>